<html>
    <head>
        <title><%= locals.user ? "HomePage" : "Log In" %></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <% if(locals.user) { %>
            <h1>Welcome back <%= user.fullname %></h1>
            <a href="/log-out">LOG OUT</a>
        <% } else { %>
            <%- include("./templates/log-in-page.ejs") %>
        <% } %>
    </body>
</html>